
<div class="container">
  <div class="row homepage-main">
    <!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project card text-dark shadow">
        <div class="card-header">
    <h2>
        {{!-- create blog id and Name --}}
      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p>Created by {{blog.user.name}} 
      on 
      {{format_date blog.date_created}}</p>
  </div>
  <div class="card-body">
    <p>
      {{blog.blogPost}}
    </p>
    <div class="card-body">
          <p>{{blogPost.description}}</p>
        </div>
    {{!-- Add comments section here --}}
    <div class="comments-section">
      <h3>Comments</h3>
      {{#each blog.comments as |comment| }}
      <div class="comment">
        <p>{{comment.text}}</p>
        <p>Posted by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/each}}